[Unit]
Description=Kibana 4

[Service]
Type=simple
Environment={{kibana_config_dir}}/config/kibana.yml
Environment=NODE_ENV=production
ExecStart={{kibana_config_dir}}/bin/kibana

[Install]
WantedBy=multi-user.target